body{
   background-image: url(../../images/intro__img.jpg);
   width: 100%;
   height: 100%;
   background-position:center center;
   background-repeat: no-repeat;
   
}
.intro{
  display: flex;
  justify-content: center;
  align-items:center;
}
.intro__logo{

}
.intro__buttton{
  background-color:#f89513;
  border-radius: 4px;
  color:white;
  font-family: open sans, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.intro__logo:after{
  content: '';
    height: 100%;
}
.intro__logo a{
  text-decoration: none;
  color: white;
}
.intro__button__link a:hover{
  background-color:#131415;
}